/* css reset */
* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-family: 'Exo', sans-serif;
    box-sizing: border-box;
}




/* -- nav area -- */
.container-fluid {
    width: 100%;
}

body .navbar-default {
      background-color:transparent !important;
      position: fixed;
      width: 100%;
      z-index: 1111;
      border: none;  
 }

body .jumbohue {
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    background-size: cover;
    text-align: left;
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 0px;
}

body .jumbotron {
    height: 100vh;
    background:  url(images/jumbotron.jpg.jpg) no-repeat center center;
    background-size: cover;
    text-align: left;
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 0px;
}

#mytitle, #mytitlesmall {
    color: #fff;
    text-shadow: 1px 1px 4px black;
    cursor: default;
}

body .navbar-toggle {
    margin: 22px;
    padding: 25px
}

.dropdown-menu>li>a:hover {
    color: lightgoldenrodyellow;
}

body .navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 1.5em;
    padding: 30px;
    text-shadow: 1px 1px 4px black;
}

body .navbar-default .navbar-nav>li>a:hover {
    color: lightgoldenrodyellow;
}

.dropdown .dropdown-toggle{
    background-color: transparent!important;  
}

body .dropdown-menu, body  .dropdown-menu li a {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    text-shadow: 1px 1px 4px black;
    padding: 10px;
    margin: 10px;
}

body li { 
    margin-left: 10px;
}

body .dropdown-menu {
    border-radius: 4px;
}




/* -- carousel section -- */
.carousel-inner {
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .carousel-caption {
    color: darkblue;
    font-size: 1.2em
}

body .carousel-caption  {
   bottom: -20px
}




/* -- software section  --- */
.softwareblurb{
    padding: 30px;
}

.softwaretitle {
    padding:60px;
    text-align: center;
    cursor:default;
}

.softwareicons {
    display: flex;
    justify-content:space-around;
}

.softwarebox img{
    display: flex;
    align-content: center;
    height: 6em;
}

.softwarebox p {
    text-align: center;
    margin-top: 10px;
        
}
.col-sm-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}




/* --- contact section --- */
body .contact {
    margin: 0px;
}

.contact div {
    text-align: center;
    margin-bottom: 20px
}

i {
    margin-right: 10px
}

.contact div a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 0px black;
    cursor: pointer;
}




/* --- gallery sections --- */

.gallery {
   
}

.gallerypicbox {
    margin: 50px 0px
}

.gallerypic {
    height: 400px;
    width: 600px;
    margin: 40px 0px;
}

.galleryinfo {
    height: 400px;
    width: 100%;
    margin: 40px 0px;
}