/* css reset */
* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    font-family: 'Exo', sans-serif;
    box-sizing: border-box;
}

/* -- nav area -- */
.container-fluid {
    width: 100%;
}

#logo{
    height: 80px;
    padding: 15px
}

body .navbar-default {
      background-color: rgba(0,0,0,.7);
      width: 100%;
      z-index: 1;
      border: none; 
      position: absolute;
      top: 0px;    
 }

body .jumbotron {
    height: 100vh;
    background: url(images/jumbotron.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    margin-bottom: 60px;
}

.bioContainer {
    display: block;
    background-color: rgba(0,0,0,.6);
    width: 55%;
    margin: 10% auto 2% auto;
    max-height: 450px;
    border-radius: 20px;
    display: block;
    position: relative;
 
}

.bioContainer h1{
    margin: 2%
}



.bioContainer2{
    position: relative;
    font-size: .7em;
}

.bioContainer2:hover{
    cursor:pointer;
}

.bioContainer .bio{
   
    width: 15vw;
    max-width: 180px;
    min-width: 70px;
    display: block;
    margin: 1% auto;
    padding: 3%
}

.bioContainer2 .bio{
    max-height: 50px;
    display: block;
    margin: 0px auto;
    
}

#extra{
    background-color: rgba(0,0,0,.7);
    border-radius: 10px;
    padding: 10px;
    margin: 15px auto;
    color: #fff;
    min-width: 35%;
    max-width: 90%;
    font-size: 1.6em
}

.block {
    position: relative;
    top: 60vh;
}

.title {
    text-align: center;
}

#mytitle {
    color: white;
    text-shadow: 1px 1px 4px black;
}

.title>h2 {
    margin: 0;
    font-size: 1.7em;
    color: white;
    padding: 1%
}

.title>#mytitle, #mytitlesmall {
    color: #fff;
    text-shadow: 1px 1px 4px black;
}

#moreinfo {
    display: inline;
    color: #fff;
    text-shadow: 1px 1px 4px black;
    background-color: rgba(0,0,0,.6);
    border-radius: 10px;
    padding: 8px;
    
}

.navbar {
    height: 80px
}

.navbar button {
    margin: 7px
}

.navbar-toggle {
    margin: 22px;
    padding: 25px;
    background-color: none;
}

button:focus, button:hover {
    background-color: RGBA(0,0,0,0.2)!important;
}

.navbar-default .navbar-nav > li > a:hover, a:focus {
    background-color: RGBA(200,200,200,.2);
}

.dropdown-menu>li>a:hover {
    color: black;
    text-shadow: none;
}

.nav>li.smaller a {
    
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 1.7rem;
    text-shadow: 0px 0px 4px black;
    transition: 0.5s ease;   
}

.navbar-default .navbar-nav>li>a:hover {
    color: lightgray;
}

.dropdown-menu {
    background-color: rgba(0,0,0,0.5);
}

.dropdown-menu li {
    color: #ccc;
    margin: 10px;
}

.dropdown-menu li a {
    background-color: rgba(50,50,50,1);
    color: #ccc;
    text-shadow: 1px 1px 4px black;
   
    margin: 10px;
}

.navbar {
    border-radius: 0px;
    margin: 0px;
}
FONT-S
.navbar ul {
    margin-top: 15px;
}

#bs-example-navbar-collapse-1 ul li ul li a {
    background-color: #aaa;
    color:black;
    text-shadow: none;
}

.navbar-default .navbar-nav>li>a {
 padding: 5px 17px;
line-height: 4
}



/* -- carousel section -- */

#myCarousel {
    clear: both;
    margin-top: 100px
}

.carousel-inner item {
display: block;
    margin: auto;
}

.item img {
margin: auto;}

body .carousel-caption {
    color: darkblue;
    font-size: 1.2em
}

body .carousel-caption  {
}



/* -- software section  --- */


.softwaretitle {
    padding:70px;
    text-align: center;
    margin-top: 10px;
}

.softwarebox img{
    display: flex;
    align-content: center;
    height: 5em;
    margin: 10px auto;
}


.softwarebox p {
    text-align: center;
    font-size: .9em;
    margin-bottom: 15px
}

.bs4{
    display: block;
    margin-bottom: 30px
    
}

.softwarebox {

}


/* --- contact section --- */
body .contact {
    margin: 0px;
}

.contact div {
    text-align: center;
    margin-bottom: 20px
}

h2 i {
 font-size:20px;
}

.contact div a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 0px black;
    cursor: pointer;
}




/* --- gallery sections --- */

.gallery {
    
}

.gallerypicbox {
    margin: 30px auto;
    transition: all .2s ease-in-out; 
}

.gallerypicbox:hover {
    cursor: pointer;
    
}

.gallerypicbox img {
    margin: 0px auto;
    box-shadow: 0px 0px 15px gray;
}

.galleryinfo {
    margin: 40px 0px;
    
} 

.gallerypicbox video{
    position: absolute;
    z-index: 1;
}
/* --- footer nav --- */

.footernav {
    
    display: flex;
    min-height: 50px;
    background-color: rgba(0,0,0,0.4);
    justify-content: space-around;
    align-items: center;
    font-size: 1.25em;
    margin-top: 50px;
}

.footerContainer {
    display: inline-block;
    margin: 0 auto
}

.footerDiv {
    padding: 5px;
    text-align: center;
    display: inline-block;
    margin: 0 2px;
}

.footernav a {
    color: white;
    transition: color 0.6s ease;
}

.footernav a:hover {
    color: lightgray;
    text-decoration: none;
        
}
.footerDiv a {
    font-size: .80em;
    margin: 5px;
    padding: 15px;
}






@media only screen and (max-width: 767px) {
    
    #extra {
    font-size: 1.6em;
    max-width: 95%;
}
    .footerDiv {
    padding: 25px;
    text-align: center;
    display: block;
}
    
  .footerDiv a  {
      padding: 25px;
}
    .navbar-header {
        height: 0px;
    }
    .dropage{
    background-color: rgba(0,0,0,.9);
}
    .navbar-collapse.in {
        overflow: hidden;
    }
    
.dropage li:first-child{
    margin-top: 100px
}
    .navbar-default .navbar-nav>li>a {
 padding: 5px 12px;
line-height: 3;
        margin-top: 10px
}
    .smaller{
        height: 60px;
    }
   
    .bioContainer {
    margin: 34% auto 30px auto;
}
    .bioContainer2{
        font-size: .8em;
    }
    .bs4 {
        margin-bottom: 60px;
    }
}
